<div id="adk" class="tile four-by-one" style="background-image: url({{image}}); background-position: top right; background-repeat: no-repeat">

	<h2>{{title}}</h2>
	<span class="subtitle">{{subtitle}}</span>

	<span class="description">{{description}}</span>

	<a class="url button" href="{{url}}" target="_blank">VISIT</a>
	<a class="code button" href="{{code}}" target="_blank">CODE</a>

</div>