<div id="html5games" class="tile two-by-two">

	<h2>{{title}}</h2>
	<span class="subtitle">{{subtitle}}</span>

	<span class="description">{{description1}}</span>

	<img src="{{image}}" />

	<span class="description side">{{description2}}</span>

	<a class="url button" href="{{url}}" target="_blank">AMAZON</a>

</div>