<div id="swidgets" class="tile one-by-two">

	<h2>{{title}}</h2>
	<span class="subtitle">{{subtitle}}</span>

	<span class="description">{{description}}</span>

	<img src="{{image}}" />

	<a class="url button" href="{{url}}" target="_blank">DOWNLOAD</a>

</div>